# Análisis de datos
pandas
numpy
scikit-learn

# Visualización
matplotlib
seaborn
plotly
kaleido

# Machine Learning y Series Temporales
statsmodels>=0.13.0
prophet>=1.1.0

# Utilidades
openpyxl
scipy
joblib>=1.2.0
requests>=2.28.0